@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --Mobile-width: 375px;
  --Desktop-width: 1440px;

  --primary-Marine-blue: hsl(213, 96%, 18%);
  --primary-Purplish-blue: hsl(243, 100%, 62%);
  --primary-Pastel-blue: hsl(228, 100%, 84%);
  --primary-Light-blue: hsl(206, 94%, 87%);
  --primary-Strawberry-red: hsl(354, 84%, 57%);

  --neutral-Cool-gray: hsl(231, 11%, 63%);
  --neutral-Light-gray: hsl(229, 24%, 87%);
  --neutral-Magnolia: hsl(217, 100%, 97%);
  --neutral-Alabaster: hsl(231, 100%, 99%);
  --neutral-White: hsl(0, 0%, 100%);

  --Font-size-paragraph: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
